name: tests

on: [push, pull_request]

jobs:
  older_python:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.8', '3.9']
        numpy-version: [1.20.3, 1.21.6, 1.22.4]

    steps:
    - uses: actions/checkout@v3
    - name: Set up ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy==${{ matrix.numpy-version }}
        python -m pip install pytest
    - name: Install numpngw
      run: |
        python -m pip install .
    - name: Test with pytest
      run: |
        python -m pytest

  python_3_10:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10']
        numpy-version: [1.22.4, 1.23.3]

    steps:
    - uses: actions/checkout@v3
    - name: Set up ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy==${{ matrix.numpy-version }}
        python -m pip install pytest
    - name: Install numpngw
      run: |
        python -m pip install .
    - name: Test with pytest
      run: |
        python -m pytest
